*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
body {
    margin: 0;
}

.top-header {
    background-color: #515655;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.flex-container {
    display:flex;
}
.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header ul li {
    margin-left: 30px;
}